body{
    background-color: darkslategrey;
    color: azure;
}

.flex{
    display: flex;
}

#board{
    width: 600px;
    height: auto;
    background-color: black;
}

td{
    width:100px;
    height:100px;
    background-color:darkblue;
}

.circle{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: auto;
    background: black;
}

.color0{
    background-color: transparent;
}

.color1{
    background-color: blue;
}

.color2{
    background-color: red;
}

.color3{
    background-color: black;
}

.color4{
    background-color: black;
}


.select0{
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: transparent;
}

.select1{
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: rgb(229, 168, 14, 0.5);
}

.btn-submit{
    width: 95px;
    height: 95px;
    border-radius: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    background-image: none;
    background-color: transparent;
    color: transparent;
}

#status{
    width: 500px;
    height: 800px;
    margin-left: 50px;
    text-align: center;
    background-color:forestgreen;
    color: white;
}

.status-text{
    font-size: 30px;
}

#status-content{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.left{
    margin-right: auto;
}

.right{
    margin-left: auto;
}

.popup{
    font-size: x-large;
    width: auto;
    height: auto;
    padding: 10px;
    background-color: cornsilk;
    color: crimson;
}