<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Geister</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='index.css') }}">
</head>

<body>
    <h3>Geister</h3>
    <form method="post">
        <div class="flex">
            <div id="board">
                <table>
                </table>
            </div>
            <div id="status">
                <h2>ステータス画面</h2>
                <div id="status-content">
                    <div class="flex">
                        <div class="left">
                        </div>
                        <div class="right">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>

</html>